html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003a1d;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

@media (max-width: 68.6875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 68.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.footer {
  height: 30px;
  text-align: center;
}

.footer p {
  font-size: 0.5625rem;
}

.navbar {
  margin: 0 auto;
  max-width: 1440px;
}

.navbar nav {
  padding: 18px 0;
  color: #003a1d;
}

.navbar nav .logo {
  width: 124px;
}

.navbar nav h3 {
  font-size: 1.625rem;
  font-weight: 600;
}

.navbar nav .kontakt {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.line {
  border-bottom: 1px solid rgba(0, 73, 40, 0.2);
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.header__text h2 {
  font-size: 2.375rem;
  font-weight: 400;
}

.header__text h1 {
  font-size: 3.25rem;
  font-weight: 400;
  color: #48a067;
  margin-left: 10px;
}

.header .header__image {
  margin-top: 25px;
  max-width: 1110px;
}

.header .products__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  margin-top: 38px;
}

.header .products__grid .product {
  position: relative;
}

.header .products__grid .product button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  background-color: white;
  font-size: 0.875rem;
  color: #48a067;
}

.infographic {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d9ea96;
  padding-bottom: 14px;
}

.infographic h2 {
  margin-top: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.375rem;
  font-weight: 600;
}

.infographic__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1110px;
}

.infographic__grid--element {
  text-align: center;
}

.infographic__grid--element .element__text {
  font-size: 1.125rem;
}

.infographic__subtext {
  margin-top: 30px;
}

.infographic__subtext p {
  font-size: 0.75rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */